<nav class="navbar px-3 mb-3 navbar-light bg-light justify-content-between">
  <%= link_to "Simple Airbnb", flats_path, class: "navbar-brand" %>
  <%= link_to "Add Flat", new_flat_path, class: "btn btn-outline-primary my-2 my-sm-0" %>
</nav>
