<div class="container">
  <div class="row justify-content-center">
    <div class="mt-2 bg-light p-3 col-12 col-sm-8 col-lg-6">
      <h1>Add a new flat</h1>
      <%= render "form", flat: @flat %>
    </div>
  </div>
</div>
